.dynamic-form {
    box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
    transition: 0.2s box-shadow ease-in-out, 0.2s background-color ease-in-out, 0.2s border-color ease-in-out;
    margin-bottom: 5px;
    padding: 25px 30px;
    margin: 10px 2px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-top: 5px solid dodgerblue;
    border-left: 1px solid #e6e6e6;
    border-radius: 5px;
    position: relative;
    top: 30px;
}
.dynamic-form .form-group {
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.dynamic-form .form-label {
    text-align: left;
    color: #2E86C1;
}
.dynamic-form .form-input{
    margin-top: 5px;
    line-height: 1.5em;
}

.dynamic-form select{
    margin-top: 5px;
    line-height: 2.5em;
    height: 30px;
}

.dynamic-form .form-group button{
    padding: .5em;
}

.dynamic-form .form-group-radio {
    display: flex;
    flex-direction: row;
}

.dynamic-form .form-group-checkbox {
    display: flex;
    flex-direction: row;
}

.form-actions {
    display: flex;
}
.form-actions button {
    width: 98%;
    line-height: 1.5em;
    background-color: dodgerblue;
    padding: 10px 0 10px 0;
    color: white;
    border-radius: 4px;
    border:0;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom:5px;
}
.submitBtn{
    position: relative;
    top:60%;
    /* left: 75%; */
    background:url('../../img_183020.png')no-repeat;
    background-position: 57%;
    background-size: 25px;
    text-align: center;
    text-transform: uppercase;
}
.form-title{
    color:#bdc2ca;
    text-align: center;
}